@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/*MULTI-USE CLASSES*/
.display-none{
    display: none;
}
.width-100-100{
    width: 100%;
}
.margin-dx-5px-sx-10px{
    margin: 0 10px 0 5px;
}
.f-size-1-2-em{
    font-size: 1.2em;
}
.f-size-1-7-em{
    font-size: 1.7em;
}
.f-size-2-em{
    font-size: 2em;
}
/*BODY*/
body{
    display: flex;
    flex-wrap: wrap;
}
/*ASIDE*/
#aside{
    width: 10%;
    /* flex-basis: calc(100% - 90%); */
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
#aside a{
    text-decoration: none;
    color: silver;
    font-size: 00.7em;
}
#aside a:hover{
    color: white;
}
.aside-container{
    width: 60%;
    margin: 0 auto;
}
.aside-container div{
    width: 100%;
    margin: 10px 0;
}
.aside__logo-tablet{
    display: none;
}
.aside__span-tablet{
    display: none;
}
.aside_playlist{
    display: none;
}
.aside_playlist li{
    margin: 10px 0;
}
.aside__hr{
    display: none;
}
/*MAIN*/
#main{
    width: 90%;
    /* flex-basis: calc(100% -10%); */
    height: calc(100vh - 100px);
    background-color: rgb(71, 62, 62);
    /* display: flex; */
    padding-top: calc(100px + 2vh);
    overflow-y: auto;
    overflow-x: hidden;
}
/*main-header*/
#main-header{
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-header__button{
    color: white;
    background-color: transparent;
    border-style: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 30px;
}
.main-header__button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/*main-nav*/
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-nav li{
    font-size: 0.7em;
    margin: 10px;
}
.main-nav a{
    text-decoration: none;
    color: silver;
}
.main-nav a:hover{
    color: white;
}
/*main*/
.main-h2{
    margin: 20px 5px;
    color: white;
    width: 100%;
}
/*main main*/
.main-main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.main-main-container__movie-div{
    width: calc(50% - 4vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}
.main-main-container__movie-div img{
    width: 100%;
}
.main-main-container__movie-div h3{
    margin: 10px 0;
    text-align: center;
}
.img-circle{
    border-radius: 50%;
}
/*main img hover effect*/
.main-main-container__movie-div__img-div{
    position: relative;
    cursor: pointer;
}
.hover-play-button{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}
.main-main-container__movie-div__img-div:hover .hover-play-button{
    display: block;
}
.main-main-container__movie-div__img-div:hover img{
    filter: opacity(50%);
}
/*FOOTER*/
#footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(105, 95, 95);
    color: white;
    overflow: hidden;
}
/*first container footer*/
.footer-1st-container{
    height: 80%;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-1st-container img{
    height: 100%;
}
/*second container footer*/
.footer-2nd-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 20px;
}
.footer-2nd-container__1st-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-2nd-container__1st-column div{
    margin: 0 20px;
    cursor: pointer;
}
/* .footer-2nd-container__1st-column div:hover{
    font-size: 2em;
} */
.footer-2nd-container__2nd-column{
    display: flex;
    justify-content: center;
}
/* .footer-2nd-container__2nd-column div::before{
    content: "0.25";
}
.footer-2nd-container__2nd-column div::after{
    content: "4.35";
} */
/*third container footer*/
.footer-3rd-container{
    display: none;
}
/*TABLET MEDIA QUERY*/
@media screen and (min-width:600px) and (max-width:1024px) {
    #aside{
        flex-basis: 200px;
        /* height: calc(100vh - 80px);
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }
    .aside-container{
        width: 100%;
        margin: 0 auto;
    }
    .aside-container div{
        width: 100%;
        margin: 0px;
        padding: 10px;
    }
    .aside__logo-tablet{
        display: block;
    }
    .aside__logo-mobile{
        display: none;
    }
    .aside__img-tablet{
        width: 20px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        display: inline-block;
    }
    .aside__span-tablet{
        display: inline;
    }
    .aside_playlist{
        display: block;
        overflow-y: auto;
    }
    .aside__hr{
        display: block;
        padding: 10px;
    }
    #main{
        flex-basis: calc(100% - 200px);
        /* height: calc(100vh - 80px);
        background-color: rgb(71, 62, 62);
        padding-top: calc(10vh + 2vh);
        overflow-y: auto; */
    }
    #main-header{
        width: calc(100% - 200px);
    }
    .main-main-container__movie-div{
        width: calc(25% - 3vw);
        margin: 1vw;
    }
    .footer-2nd-container{
        width: 40%;
    }
    .footer-3rd-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-basis: 25%;
    }
    .display-none{
        display: block;
    }
}
/*DESKTOP MEDIA QUERY*/
@media screen and (min-width:1025px) {
    #aside{
        flex-basis: 200px;
        /* height: calc(100vh - 80px);
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }
    .aside-container{
        width: 100%;
        margin: 0 auto;
    }
    .aside-container div{
        width: 100%;
        margin: 0px;
        padding: 10px;
    }
    .aside__logo-tablet{
        display: block;
    }
    .aside__logo-mobile{
        display: none;
    }
    .aside__img-tablet{
        width: 20px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        display: inline-block;
    }
    .aside__span-tablet{
        display: inline;
    }
    .aside_playlist{
        display: block;
    }
    .aside__hr{
        display: block;
        padding: 10px;
    }
    #main{
        flex-basis: calc(100% - 200px);
        /* height: calc(100vh - 80px);
        background-color: rgb(71, 62, 62);
        padding-top: calc(10vh + 2vh);
        overflow-y: auto; */
    }
    #main-header{
        width: calc(100% - 200px);
    }
    .main-main-container__movie-div{
        width: calc(17% - 3vw);
        margin: 1vw;
    }
    .footer-2nd-container{
        width: 40%;
    }
    .footer-3rd-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-basis: 25%;
    }
    .footer-3rd-container__icon{
        display: flex;
        flex-basis: 50%;
        justify-content: space-around;
    }
    .display-none{
        display: block;
    }
}

@media screen and (max-height:100px) {
    #main-header,
    #main,
    #aside{
        display: none;
    }
    #footer{
        z-index: 999;
    }
}