@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
}
#aside{
    width: 10%;
    height: calc(100vh - 50px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main{
    width: 90%;
    height: calc(100vh - 50px);
    background-color: gray;
    /* display: flex; */
    padding-top: calc(10vh + 2vh);
    overflow-y: auto;
}
#main-header{
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-header__button{
    color: white;
    background-color: transparent;
    border-style: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 5px;
}
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-nav a{
    text-decoration: none;
    /* color: darkgray; */
    font-size: 0.7em;
    margin: 5px;
}
.main-main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.main-main-container__movie-div{
    width: calc(50% - 4vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}
.main-main-container__movie-div img{
    width: 100%;
}
#footer{
    width: 100%;
    height: 50px;
    background-color: darkgray;
}