@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-wrap: wrap;
}
#aside{
    width: 10%;
    height: calc(100vh - 80px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aside-container{
    width: 60%;
    margin: 0 auto;
}
.aside-container div{
    width: 100%;
    margin: 10px 0;
}
.aside__logo-tablet{
    display: none;
}
#main{
    width: 90%;
    height: calc(100vh - 80px);
    background-color: rgb(71, 62, 62);
    /* display: flex; */
    padding-top: calc(10vh + 2vh);
    overflow-y: auto;
}
#main-header{
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-header__button{
    color: white;
    background-color: transparent;
    border-style: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-nav li{
    font-size: 0.7em;
    margin: 10px;
}
.main-nav a{
    text-decoration: none;
    color: silver;
}
.main-h2{
    margin: 20px 5px;
    color: white;
}
.main-main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    color: white;
}
.main-main-container__movie-div{
    width: calc(50% - 4vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}
.main-main-container__movie-div img{
    width: 100%;
}
.main-main-container__movie-div h3{
    margin: 10px 0;
    text-align: center;
}
.img-circle{
    border-radius: 50%;
}
#footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(105, 95, 95);
    color: white;
}
.footer-1st-container{
    height: 80%;
}
.footer-1st-container img{
    height: 100%;
}
.footer-2nd-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 80%;
}
.footer-2nd-container__1st-column{
    display: flex;
    justify-content: space-around;
}
.footer-2nd-container__2nd-column{
    display: flex;
    justify-content: center;
}
.footer-2nd-container__2nd-column div::before{
    content: "0.25";
}
.footer-2nd-container__2nd-column div::after{
    content: "4.35";
}

@media screen and (min-width:425px) and (max-width:1024px) {
    #aside{
        width: 25%;
        /* height: calc(100vh - 80px);
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }
    .aside__logo-tablet{
        display: block;
    }
    .aside__logo-mobile{
        display: none;
    }
    #main{
        width: 75%;
        /* height: calc(100vh - 80px);
        background-color: rgb(71, 62, 62);
        padding-top: calc(10vh + 2vh);
        overflow-y: auto; */
    }
    #main-header{
        width: 75%;
    }
    .main-h2{
        width: 100%;
    }
    .main-main-container__movie-div{
        width: calc(25% - 3vw);
        margin: 1vw;
    }
}